html, body {
  height: 100%;
  margin: 0;
 overflow: auto; /* Ensure the page is scrollable */
  
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* This makes the main content take up the remaining space */
}

h1 {
  background-color: #273239;
  color: #ffce00;
  padding-top: 1.875rem; 
  padding-bottom: 1.5625rem; 
  margin-top: 0;
  font-size: 5rem; 
}

h3 {
  font-size: 1.5625rem; 
  margin-top: 0.625rem; 
  margin-bottom: 0.625rem; 
}

.pokiInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.25rem;
  border: 0.125rem solid #000; 
  padding: 0.9375rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  background-color: #fff;
  border-radius: 0.625rem;
}

.pokiInfo p {
  font-size: 1.25rem;
  margin-top: 0; 
  margin-bottom: 0.625rem; 
  font-weight: bold;
}

.info input {
  border-radius: 2.5rem; 
  height: 1.5625rem; 
}

.pokiBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.pokiInfo img {
  width: 10.625rem; 
  height: 10.625rem; 
}

.btm {
  color: #555555;
  font-size: 1.125rem; 
  border-radius: 1.25rem; 
  width: 9.375rem; 
  height: 1.875rem; 
  font-weight: bold;
  border: 0.125rem solid #555555; 
  transition: 0.3s;
  box-shadow: 0 0.375rem 0 -0.125rem rgba(67, 145, 209, 1); 
  background-color: #ffce00;
  margin-left: 0.1rem;
}

.btm:hover {
  box-shadow: 0 0 #fff;
  transform: translateY(0.0625rem); 
}

.pokemonGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 0.3125rem; 
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: start;
  background-color: rgb(202, 196, 189);
  border: #273239;
  border-radius: 0.625rem; 
  border: 0.125rem solid #000; 
  padding: 0.3125rem; 
}

.pokemonCard {
  border: 0.0625rem solid #ccc; 
  padding: 0.625rem; 
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 0.625rem; 
}



.pokemonImage {
  width: 8.75rem; 
  height: 8.75rem; 
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.pokiBox.placeholder {
  justify-content: center;
  align-items: center;
  color: #aaa;
}

.pokemonCard p {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Arial';
  margin: 0;
}

.addBtm {
  color: #555555;
  margin-top: 0.5rem; 
  border-radius: 1.25rem; 
  width: 6.25rem; 
  height: 1.25rem; 
  font-weight: bold;
  border: 0.125rem solid #555555; 
  transition: 0.3s;
  box-shadow: 0 0.375rem 0 -0.125rem rgba(67, 145, 209, 1); 
  background-color: #ffce00;
  margin-bottom: 0.5rem;
}

.addBtm:hover {
  box-shadow: 0 0 #fff;
  transform: translateY(0.0625rem); 
}

.error {
  color: red;
  margin-top: 0.625rem;
}

.max-pokemon {
  color: orange;
  margin-top: 0.625rem;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 0.625rem; 
}

.remove-btn svg {
  fill: red;
  width: 1.5rem; 
  height: 1.5rem; 
}

.remove-btn:hover {
  background-color: white;
}

.remove-btn:hover svg {
  fill: darkred;
}

.empty-grid-message {
  color: blue;
  font-size: 1.125rem; 
  text-align: center;
  margin-top: 1.25rem; 
}

.footer {
  background-color: #273239;
  padding: 1rem;
  text-align: center;
  color: white;
  margin-top: 1rem;
}



/* Specific media query for iPad Pro 12.9" and similar sizes */
@media screen and (max-width: 1024px) and (min-height: 1366px) {
  html, body {
    overflow: auto; /* Ensure the page is scrollable */
  }

  h1 {
    font-size: 3rem;
  }

  .pokemonGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    width: 80%; /* Full width */
    gap: 1rem; /* Add some gap between grid items */
    margin: 0 auto; /* Center the grid */
  }

  .pokemonCard p {
    font-size: 0.6rem;
    margin: 0;
  }
}

/* General media query for tablets and smaller devices */
@media screen and (max-width: 853px) and (min-height: 1180px){
  html, body {
    overflow: auto; /* Ensure the page is scrollable */
  }
  
  h1 {
    font-size: 3rem;
  }

  .pokemonGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    width: 80%; /* Full width */
    gap: 0.5rem; /* Add some gap between grid items */
    overflow:visible;
  }
}



/* Specific media query for iPhone 12/12 Pro and similar sizes */
@media screen and (max-width: 390px) and (min-height: 844px) {
  html, body {
    overflow: auto; /* Ensure the page is scrollable */
  }
  
  h1 {
    font-size: 2.5rem;
  }

  .pokemonGrid {
    grid-template-columns: 1fr; /* 1 column */
    width: 90%; /* Full width */
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}


/* Specific media query for iPhone 6/7/8 and similar sizes */
@media screen and (max-width: 600px) {
  html, body {
    overflow: auto; /* Ensure the page is scrollable */
  }

  h1 {
    font-size: 2.5rem;
  }

  .pokemonGrid {
    grid-template-columns: 1fr; /* 1 column */
    width: 80%; /* Full width */
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

/* Specific media query for iPhone X/XS and similar sizes */
@media screen and (max-width: 375px) and (min-height: 812px) {
  html, body {
    overflow: auto; /* Ensure the page is scrollable */
  }
 
  h1 {
    font-size: 2.5rem;
  }

  .pokemonGrid {
    grid-template-columns: 1fr; /* 1 column */
    width: 90%; /* Full width */
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

/* Specific media query for iPhone XR/11 and similar sizes */
@media screen and (max-width: 430px) and (min-height: 896px) {
  html, body {
    overflow: auto; /* Ensure the page is scrollable */
  }
 
  h1 {
    font-size: 2.5rem;
  }

  .pokemonGrid {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    width: 92%; /* Full width */
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
   .footer {
    margin-top: 1rem; /* Add some margin at the top */
    margin-top: 1rem;
   }
}


@media screen and (max-width: 768px) and (min-height: 1024px) {
  html, body {
    overflow: auto; /* Ensure the page is scrollable */
  }
  
  h1 {
    font-size: 2rem; /* Adjust font size for iPad Mini */
  }

  .pokemonGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    width: 90%; /* Adjust width for iPad Mini */
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3rem; /* Add some margin at the top */
  }
  .footer {
    margin-top: 1rem; /* Add some margin at the top */
  }
}